MainWindow {
    background-color: #DCDBDB;
}

QPushButton {
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #2980b9;
}

QPushButton:pressed {
    background-color: #1c598a;
}

QLabel {
    font-size: 18px;
    color: #333;
}
